<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing up</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="post" action="/user/signup">
        <label>Full Name</label>
      <input type="text" name="full_name" placeholder="Enter your full name" />
      <label>email</label>
      <input type="email" name="email" placeholder="Enter your email" />
      <label>Password</label>
      <input type="password" name="password" placeholder="enter your Password" />
      <button type="submit">Log in</button>
    </form>
  </body>
</html>